In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [20]:
base = pd.read_csv('../kernels/same_result.csv')

In [21]:
yi =  pd.read_csv('../kernels/TryAgain1.csv')

In [22]:
yi['price_doc'] = yi['price_doc'] * 0.96

In [23]:
base['price_doc'] = np.exp(0.75 * np.log(base.price_doc) + 0.25 * np.log(yi.price_doc))

In [24]:
base.to_csv('temp.csv', index=False)

In [18]:
base.head()

      id     price_doc
0  30474  5.269568e+06
1  30475  7.935706e+06
2  30476  5.208573e+06
3  30477  5.688682e+06
4  30478  4.971328e+06

In [19]:
yi.head()

      id   price_doc
0  30474  5268053.76
1  30475  7683021.12
2  30476  5302197.12
3  30477  5616464.16
4  30478  5001526.08